

.nav{
    justify-content: center;
    background-color: #e4e4e4;
}

a.nav-link{
    font-family: Georgia,serif;
    font-size: 20px;
    text-decoration: underline;
    color: rgb(8, 31, 134);
}

.icon {
    color: rgb(8, 31, 134);
    padding-right: 5px;
}
